<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>922920648745-l9aabjgadttvm6i9kdsr3ic4bhvhqlbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922920648745-l9aabjgadttvm6i9kdsr3ic4bhvhqlbc</string>
	<key>API_KEY</key>
	<string>AIzaSyCCZqgXRo5iS2L3h2ZoDQ1CHj6fM_YaCAs</string>
	<key>GCM_SENDER_ID</key>
	<string>922920648745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>appstore.Instargram</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-d44f3</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-d44f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922920648745:ios:22227ec8db40a255</string>
	<key>DATABASE_URL</key>
	<string>https://instagramclone-d44f3.firebaseio.com</string>
</dict>
</plist>